.table-1{
.grey{
    background: #b7c5ce;
}
.white{
    color:#ffffff;
}
.main-style{
    color: #48545f;
  font-size: 13.0px;
  font-weight: 400;
}
.borderNone{
    border: none!important;vertical-align: bottom!important;
    width: 60px;
    
}
.table-bordered{
    border: none!important;
}
.table th, td {
    padding-top: 15px!important;
    padding-left: 15px!important;
    text-align: left!important;
}
}