@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-Thin.eot");
  src: url("../fonts/FiraSans/FiraSans-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-Thin.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-Thin.woff") format("woff"), url("../fonts/FiraSans/FiraSans-Thin.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-Thin.svg#FiraSans-Thin") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-ThinItalic.eot");
  src: url("../fonts/FiraSans/FiraSans-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-ThinItalic.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-ThinItalic.woff") format("woff"), url("../fonts/FiraSans/FiraSans-ThinItalic.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-ThinItalic.svg#FiraSans-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-ExtraLight.eot");
  src: url("../fonts/FiraSans/FiraSans-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-ExtraLight.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-ExtraLight.woff") format("woff"), url("../fonts/FiraSans/FiraSans-ExtraLight.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-ExtraLight.svg#FiraSans-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-ExtraLightItalic.eot");
  src: url("../fonts/FiraSans/FiraSans-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-ExtraLightItalic.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-ExtraLightItalic.woff") format("woff"), url("../fonts/FiraSans/FiraSans-ExtraLightItalic.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-ExtraLightItalic.svg#FiraSans-ExtraLightItalic") format("svg");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-Light.eot");
  src: url("../fonts/FiraSans/FiraSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-Light.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-Light.woff") format("woff"), url("../fonts/FiraSans/FiraSans-Light.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-Light.svg#FiraSans-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-LightItalic.eot");
  src: url("../fonts/FiraSans/FiraSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-LightItalic.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-LightItalic.woff") format("woff"), url("../fonts/FiraSans/FiraSans-LightItalic.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-LightItalic.svg#FiraSans-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-Regular.eot");
  src: url("../fonts/FiraSans/FiraSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-Regular.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-Regular.woff") format("woff"), url("../fonts/FiraSans/FiraSans-Regular.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-Regular.svg#FiraSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-Italic.eot");
  src: url("../fonts/FiraSans/FiraSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-Italic.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-Italic.woff") format("woff"), url("../fonts/FiraSans/FiraSans-Italic.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-Italic.svg#FiraSans-RegularItalic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-Medium.eot");
  src: url("../fonts/FiraSans/FiraSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-Medium.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-Medium.woff") format("woff"), url("../fonts/FiraSans/FiraSans-Medium.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-Medium.svg#FiraSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-MediumItalic.eot");
  src: url("../fonts/FiraSans/FiraSans-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-MediumItalic.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-MediumItalic.woff") format("woff"), url("../fonts/FiraSans/FiraSans-MediumItalic.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-MediumItalic.svg#FiraSans-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-SemiBold.eot");
  src: url("../fonts/FiraSans/FiraSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-SemiBold.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-SemiBold.woff") format("woff"), url("../fonts/FiraSans/FiraSans-SemiBold.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-SemiBold.svg#FiraSans-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-SemiBoldItalic.eot");
  src: url("../fonts/FiraSans/FiraSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-SemiBoldItalic.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-SemiBoldItalic.woff") format("woff"), url("../fonts/FiraSans/FiraSans-SemiBoldItalic.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-SemiBoldItalic.svg#FiraSans-SemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-Bold.eot");
  src: url("../fonts/FiraSans/FiraSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-Bold.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-Bold.woff") format("woff"), url("../fonts/FiraSans/FiraSans-Bold.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-Bold.svg#FiraSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-BoldItalic.eot");
  src: url("../fonts/FiraSans/FiraSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-BoldItalic.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-BoldItalic.woff") format("woff"), url("../fonts/FiraSans/FiraSans-BoldItalic.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-BoldItalic.svg#FiraSans-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-ExtraBold.eot");
  src: url("../fonts/FiraSans/FiraSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-ExtraBold.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-ExtraBold.woff") format("woff"), url("../fonts/FiraSans/FiraSans-ExtraBold.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-ExtraBold.svg#FiraSans-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-ExtraBoldItalic.eot");
  src: url("../fonts/FiraSans/FiraSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-ExtraBoldItalic.woff") format("woff"), url("../fonts/FiraSans/FiraSans-ExtraBoldItalic.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-ExtraBoldItalic.svg#FiraSans-ExtraBoldItalic") format("svg");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-Black.eot");
  src: url("../fonts/FiraSans/FiraSans-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-Black.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-Black.woff") format("woff"), url("../fonts/FiraSans/FiraSans-Black.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-Black.svg#FiraSans-Black") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-BlackItalic.eot");
  src: url("../fonts/FiraSans/FiraSans-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-BlackItalic.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-BlackItalic.woff") format("woff"), url("../fonts/FiraSans/FiraSans-BlackItalic.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-BlackItalic.svg#FiraSans-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  outline: none;
  font-family: 'Fira Sans', sans-serif; }

.mar-left-30 {
  margin-left: 30px !important; }

.reset-mar-pad {
  margin: 0;
  padding: 0; }

.left-reset {
  margin-left: 0;
  padding-left: 0; }

.mar-top-20 {
  margin-top: 20px; }

@media screen and (min-width: 1440px) {
  .margin-normalizer {
    margin-left: 0;
    margin-right: 0; } }

.pad-top-20 {
  padding-top: 20px !important; }

.pad-bottom-20 {
  padding-bottom: 20px; }

a {
  text-decoration: none; }

ul, li, p, label, span, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-stretch: normal; }

ul {
  list-style: none; }

button {
  border: none;
  outline: none; }
  button:hover {
    background-position: 0 0 !important; }

.button-normalizer {
  border: 0 !important;
  border: none !important;
  outline: none !important; }

input:focus {
  box-shadow: none !important; }

.mar-bot-10 {
  margin-bottom: 10px; }

@media (min-width: 992px) {
  .md-reset {
    margin-left: 0 !important;
    padding-left: 0 !important; } }

@media (min-width: 992px) {
  .md-pad-r15 {
    padding-right: 15px; } }

.pad-reset {
  padding: 0 !important; }

@-moz-keyframes dothabottomcheck {
  0% {
    height: 0; }
  100% {
    height: 11px; } }
@-webkit-keyframes dothabottomcheck {
  0% {
    height: 0; }
  100% {
    height: 11px; } }
@keyframes dothabottomcheck {
  0% {
    height: 0; }
  100% {
    height: 11px; } }
@keyframes dothatopcheck {
  0% {
    height: 0; }
  50% {
    height: 0; }
  100% {
    height: 26.4px; } }
@-webkit-keyframes dothatopcheck {
  0% {
    height: 0; }
  50% {
    height: 0; }
  100% {
    height: 26.4px; } }
@-moz-keyframes dothatopcheck {
  0% {
    height: 0; }
  50% {
    height: 0; }
  100% {
    height: 26.4px; } }
.radio_b input[type=checkbox], #login #maincontent .right-sector .right_content .con #con-item-1 .form-content .user-operations .form-item:nth-child(1) input[type=checkbox], #login #maincontent .right-sector .right_content .con #con-item-2 .form-content .user-operations .form-item:nth-child(1) input[type=checkbox] {
  display: none; }
.radio_b .check-box, #login #maincontent .right-sector .right_content .con #con-item-1 .form-content .user-operations .form-item:nth-child(1) .check-box, #login #maincontent .right-sector .right_content .con #con-item-2 .form-content .user-operations .form-item:nth-child(1) .check-box {
  vertical-align: middle;
  border-radius: 100%;
  height: 22px;
  width: 22px;
  background-color: transparent;
  border: 2.2px solid #d0d7dd;
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color ease 0.2s;
  -o-transition: border-color ease 0.2s;
  -webkit-transition: border-color ease 0.2s;
  transition: border-color ease 0.2s;
  cursor: pointer; }
  .radio_b .check-box::before, #login #maincontent .right-sector .right_content .con #con-item-1 .form-content .user-operations .form-item:nth-child(1) .check-box::before, #login #maincontent .right-sector .right_content .con #con-item-2 .form-content .user-operations .form-item:nth-child(1) .check-box::before, .radio_b .check-box::after, #login #maincontent .right-sector .right_content .con #con-item-1 .form-content .user-operations .form-item:nth-child(1) .check-box::after, #login #maincontent .right-sector .right_content .con #con-item-2 .form-content .user-operations .form-item:nth-child(1) .check-box::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: 4.4px;
    background-color: #63dd83;
    display: inline-block;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 5px;
    content: ' ';
    -webkit-transition: opacity ease .5;
    -moz-transition: opacity ease .5;
    transition: opacity ease .5; }
  .radio_b .check-box::before, #login #maincontent .right-sector .right_content .con #con-item-1 .form-content .user-operations .form-item:nth-child(1) .check-box::before, #login #maincontent .right-sector .right_content .con #con-item-2 .form-content .user-operations .form-item:nth-child(1) .check-box::before {
    top: 15.84px;
    left: 9.02px;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg); }
  .radio_b .check-box::after, #login #maincontent .right-sector .right_content .con #con-item-1 .form-content .user-operations .form-item:nth-child(1) .check-box::after, #login #maincontent .right-sector .right_content .con #con-item-2 .form-content .user-operations .form-item:nth-child(1) .check-box::after {
    top: 8.14px;
    left: 1.1px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
.radio_b input[type=checkbox]:checked + .check-box, #login #maincontent .right-sector .right_content .con #con-item-1 .form-content .user-operations .form-item:nth-child(1) input[type=checkbox]:checked + .check-box, #login #maincontent .right-sector .right_content .con #con-item-2 .form-content .user-operations .form-item:nth-child(1) input[type=checkbox]:checked + .check-box,
.radio_b .check-box.checked,
#login #maincontent .right-sector .right_content .con #con-item-1 .form-content .user-operations .form-item:nth-child(1) .check-box.checked,
#login #maincontent .right-sector .right_content .con #con-item-2 .form-content .user-operations .form-item:nth-child(1) .check-box.checked {
  border-color: #63dd83; }
  .radio_b input[type=checkbox]:checked + .check-box::after, #login #maincontent .right-sector .right_content .con #con-item-1 .form-content .user-operations .form-item:nth-child(1) input[type=checkbox]:checked + .check-box::after, #login #maincontent .right-sector .right_content .con #con-item-2 .form-content .user-operations .form-item:nth-child(1) input[type=checkbox]:checked + .check-box::after,
  .radio_b .check-box.checked::after,
  #login #maincontent .right-sector .right_content .con #con-item-1 .form-content .user-operations .form-item:nth-child(1) .check-box.checked::after,
  #login #maincontent .right-sector .right_content .con #con-item-2 .form-content .user-operations .form-item:nth-child(1) .check-box.checked::after {
    height: 11px;
    -moz-animation: dothabottomcheck 0.2s ease 0s forwards;
    -o-animation: dothabottomcheck 0.2s ease 0s forwards;
    -webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
    animation: dothabottomcheck 0.2s ease 0s forwards; }
  .radio_b input[type=checkbox]:checked + .check-box::before, #login #maincontent .right-sector .right_content .con #con-item-1 .form-content .user-operations .form-item:nth-child(1) input[type=checkbox]:checked + .check-box::before, #login #maincontent .right-sector .right_content .con #con-item-2 .form-content .user-operations .form-item:nth-child(1) input[type=checkbox]:checked + .check-box::before,
  .radio_b .check-box.checked::before,
  #login #maincontent .right-sector .right_content .con #con-item-1 .form-content .user-operations .form-item:nth-child(1) .check-box.checked::before,
  #login #maincontent .right-sector .right_content .con #con-item-2 .form-content .user-operations .form-item:nth-child(1) .check-box.checked::before {
    height: 26.4px;
    -moz-animation: dothatopcheck 0.4s ease 0s forwards;
    -o-animation: dothatopcheck 0.4s ease 0s forwards;
    -webkit-animation: dothatopcheck 0.4s ease 0s forwards;
    animation: dothatopcheck 0.4s ease 0s forwards; }

#login {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  #login:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/bitmap.png), url(../img/office-background.jpeg);
    background-repeat: no-repeat;
    background-position: left;
    filter: blur(6.5px);
    transform: scale(1.02); }
  @media (max-width: 992px) {
    #login {
      padding: 50px 0;
      height: auto;
      min-height: 100vh; } }
  #login #maincontent {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    width: 840px; }
    @media (max-width: 900px) {
      #login #maincontent {
        width: 80%; } }
    #login #maincontent .left-sector {
      padding: 0;
      margin: 0; }
      #login #maincontent .left-sector .left_content {
        width: 100%;
        background-color: #4175b6; }
        #login #maincontent .left-sector .left_content header {
          width: 100%;
          height: 60px;
          border-bottom: 1px solid #5483BD; }
          #login #maincontent .left-sector .left_content header nav {
            width: 266px;
            margin: 0 auto;
            height: 40px;
            padding-top: 22px; }
            #login #maincontent .left-sector .left_content header nav .nav-item {
              display: inline;
              height: 40px;
              color: #ffffff;
              font-family: 'Fira Sans', sans-serif;
              font-size: 13.0px;
              font-style: normal;
              font-stretch: normal;
              text-align: left;
              padding-bottom: 16px;
              opacity: 0.4;
              cursor: pointer; }
            #login #maincontent .left-sector .left_content header nav .nav-active {
              border-bottom: 5px solid #ffffff;
              border-top-left-radius: 90px;
              border-top-right-radius: 90px;
              opacity: 1; }
            #login #maincontent .left-sector .left_content header nav .nav-item:first-child {
              margin-left: 20px; }
            #login #maincontent .left-sector .left_content header nav .nav-item:last-child {
              margin-left: 50px; }
        #login #maincontent .left-sector .left_content .logo_content {
          width: 100%;
          height: 330px;
          border-bottom: 1px solid #5483BD; }
          #login #maincontent .left-sector .left_content .logo_content .logo {
             max-width: 200px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#login #maincontent .left-sector .left_content .logo_content .logo img{
    max-width: 100%;
}
        #login #maincontent .left-sector .left_content .foot-content {
          text-align: center; }
          #login #maincontent .left-sector .left_content .foot-content .foot-text {
            color: #ffffff;
            font-family: 'Fira Sans', sans-serif;
            font-size: 13.0px;
            font-style: normal;
            font-stretch: normal;
            font-weight: 400;
            text-align: center;
            line-height: 70px;
            opacity: 0.4; }
    #login #maincontent .right-sector {
      padding: 0;
      margin: 0; }
      #login #maincontent .right-sector .right_content {
        float: right;
        width: 100%;
        height: 460px;
        background-color: #ffffff; }
        @media screen and (max-width: 500px) {
          #login #maincontent .right-sector .right_content {
            height: auto; } }
        #login #maincontent .right-sector .right_content header {
          width: 100%;
          height: 60px;
          background: #eef3f8;
          border-bottom: 1px solid #eef3f8; }
          #login #maincontent .right-sector .right_content header .head-text {
            margin-left: 60px;
            line-height: 60px;
            color: #4c83c7;
            font-family: 'Fira Sans', sans-serif;
            font-size: 15.0px;
            font-style: normal;
            font-stretch: normal;
            font-weight: 500;
            text-align: left; }
            @media (max-width: 700px) {
              #login #maincontent .right-sector .right_content header .head-text {
                font-size: 14.0px;
                margin-left: 20px;
                text-align: center; } }
            @media (max-width: 500px) {
              #login #maincontent .right-sector .right_content header .head-text {
                font-size: 13.0px; } }
        #login #maincontent .right-sector .right_content .con {
          height: 330px;
          border-bottom: 1px solid #EEF3F8; }
          @media screen and (max-width: 500px) {
            #login #maincontent .right-sector .right_content .con {
              height: auto; } }
          #login #maincontent .right-sector .right_content .con #con-item-1 {
            width: 100%; }
            #login #maincontent .right-sector .right_content .con #con-item-1 .form-content {
              width: 80%;
              margin: 0 auto;
              padding-top: 20px; }
              #login #maincontent .right-sector .right_content .con #con-item-1 .form-content:after {
                content: '';
                display: block;
                clear: both; }
              @media (max-width: 700px) {
                #login #maincontent .right-sector .right_content .con #con-item-1 .form-content {
                  width: 90%; } }
              #login #maincontent .right-sector .right_content .con #con-item-1 .form-content .form-item {
                padding-top: 20px; }
                #login #maincontent .right-sector .right_content .con #con-item-1 .form-content .form-item .form-label label {
                  margin: 0;
                  padding: 0;
                  color: #48545f;
                  font-family: 'Fira Sans', sans-serif;
                  font-size: 13.0px;
                  font-style: normal;
                  font-stretch: normal;
                  font-weight: 500;
                  text-align: left; }
                #login #maincontent .right-sector .right_content .con #con-item-1 .form-content .form-item .form-input {
                  width: 100%;
                  height: 50px;
                  padding-top: 10px;
                  border-radius: 30%; }
                  #login #maincontent .right-sector .right_content .con #con-item-1 .form-content .form-item .form-input input {
                    width: 100%;
                    height: 100%;
                    border: 1px solid #b7c5ce;
                    color: #48545f;
                    font-family: 'Fira Sans', sans-serif;
                    font-size: 13.0px;
                    font-style: normal;
                    font-stretch: normal;
                    font-weight: 500;
                    font-size: 20px;
                    border: 1px solid #B7C5CE; }
                    @media (max-width: 767px) {
                      #login #maincontent .right-sector .right_content .con #con-item-1 .form-content .form-item .form-input input {
                        height: 80%;
                        font-size: 13px; } }
                  #login #maincontent .right-sector .right_content .con #con-item-1 .form-content .form-item .form-input input:focus {
                    outline: 0 !important; }
              #login #maincontent .right-sector .right_content .con #con-item-1 .form-content .user-operations {
                display: flex;
                align-items: center;
                justify-content: space-between; }
                #login #maincontent .right-sector .right_content .con #con-item-1 .form-content .user-operations .form-item:nth-child(1) {
                  line-height: 60px;
                  float: left; }
                  @media (max-width: 700px) {
                    #login #maincontent .right-sector .right_content .con #con-item-1 .form-content .user-operations .form-item:nth-child(1) {
                      line-height: 45px; } }
                  @media screen and (max-width: 500px) {
                    #login #maincontent .right-sector .right_content .con #con-item-1 .form-content .user-operations .form-item:nth-child(1) {
                      width: 100%; } }
                  #login #maincontent .right-sector .right_content .con #con-item-1 .form-content .user-operations .form-item:nth-child(1) .text_label {
                    color: #63dd83;
                    font-family: 'Fira Sans', sans-serif;
                    font-size: 13.0px;
                    font-style: normal;
                    font-stretch: normal;
                    font-weight: 500;
                    text-align: left;
                    margin-left: 10px; }
                #login #maincontent .right-sector .right_content .con #con-item-1 .form-content .user-operations .form-item:nth-child(2) {
                  width: 50%;
                  float: right; }
                  @media screen and (max-width: 500px) {
                    #login #maincontent .right-sector .right_content .con #con-item-1 .form-content .user-operations .form-item:nth-child(2) {
                      width: 100%; } }
                  #login #maincontent .right-sector .right_content .con #con-item-1 .form-content .user-operations .form-item:nth-child(2) button {
                    width: 160px;
                    height: 50px;
                    background: #4c83c7;
                    border-radius: 3px;
                    color: #ffffff;
                    font-family: 'Fira Sans', sans-serif;
                    font-size: 13.0px;
                    font-style: normal;
                    font-stretch: normal;
                    font-weight: 700;
                    text-align: center;
                    float: right; }
                    @media screen and (max-width: 500px) {
                      #login #maincontent .right-sector .right_content .con #con-item-1 .form-content .user-operations .form-item:nth-child(2) button {
                        width: 100% !important; } }
                    @media (max-width: 700px) {
                      #login #maincontent .right-sector .right_content .con #con-item-1 .form-content .user-operations .form-item:nth-child(2) button {
                        width: 100px;
                        height: 35px; } }
          #login #maincontent .right-sector .right_content .con #con-item-2 {
            display: none;
            clear: both; }
            #login #maincontent .right-sector .right_content .con #con-item-2 .form-content {
              width: 80%;
              margin: 0 auto;
              padding-top: 20px;
              display: flex;
              flex-wrap: wrap; }
              @media (max-width: 700px) {
                #login #maincontent .right-sector .right_content .con #con-item-2 .form-content {
                  width: 90%; } }
              #login #maincontent .right-sector .right_content .con #con-item-2 .form-content .form-item {
                width: calc(50% - 10px);
                padding-top: 20px;
                margin-left: 20px; }
                @media (max-width: 500px) {
                  #login #maincontent .right-sector .right_content .con #con-item-2 .form-content .form-item {
                    width: 100% !important;
                    margin-left: 0px; } }
                #login #maincontent .right-sector .right_content .con #con-item-2 .form-content .form-item .form-label label {
                  margin: 0;
                  padding: 0;
                  color: #48545f;
                  font-family: 'Fira Sans', sans-serif;
                  font-size: 13.0px;
                  font-style: normal;
                  font-stretch: normal;
                  font-weight: 500;
                  text-align: left; }
                #login #maincontent .right-sector .right_content .con #con-item-2 .form-content .form-item .form-input {
                  width: 100%;
                  height: 50px;
                  padding-top: 10px;
                  border-radius: 30%; }
                  #login #maincontent .right-sector .right_content .con #con-item-2 .form-content .form-item .form-input input {
                    width: 100%;
                    height: 100%;
                    border: 1px solid #b7c5ce;
                    color: #48545f;
                    font-family: 'Fira Sans', sans-serif;
                    font-size: 13.0px;
                    font-style: normal;
                    font-stretch: normal;
                    font-weight: 500;
                    font-size: 20px;
                    border: 1px solid #B7C5CE; }
                    @media (max-width: 767px) {
                      #login #maincontent .right-sector .right_content .con #con-item-2 .form-content .form-item .form-input input {
                        height: 80%;
                        font-size: 13px; } }
                  #login #maincontent .right-sector .right_content .con #con-item-2 .form-content .form-item .form-input input:focus {
                    outline: 0 !important; }
              #login #maincontent .right-sector .right_content .con #con-item-2 .form-content .user-operations {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between; }
                #login #maincontent .right-sector .right_content .con #con-item-2 .form-content .user-operations .form-item:nth-child(1) {
                  line-height: 60px; }
                  #login #maincontent .right-sector .right_content .con #con-item-2 .form-content .user-operations .form-item:nth-child(1) .text_label {
                    color: #63dd83;
                    font-family: 'Fira Sans', sans-serif;
                    font-size: 13.0px;
                    font-style: normal;
                    font-stretch: normal;
                    font-weight: 500;
                    text-align: left;
                    margin-left: 10px; }
                    @media (max-width: 400px) {
                      #login #maincontent .right-sector .right_content .con #con-item-2 .form-content .user-operations .form-item:nth-child(1) .text_label {
                        font-size: 12.0px;
                        margin-left: 8px; } }
                    @media (max-width: 350px) {
                      #login #maincontent .right-sector .right_content .con #con-item-2 .form-content .user-operations .form-item:nth-child(1) .text_label {
                        font-size: 11.0px;
                        margin-left: 7px; } }
                #login #maincontent .right-sector .right_content .con #con-item-2 .form-content .user-operations .form-item:nth-child(2) {
                  width: 50%; }
                  #login #maincontent .right-sector .right_content .con #con-item-2 .form-content .user-operations .form-item:nth-child(2) button {
                    width: 160px;
                    height: 50px;
                    background: #4c83c7;
                    border-radius: 3px;
                    color: #ffffff;
                    font-family: 'Fira Sans', sans-serif;
                    font-size: 13.0px;
                    font-style: normal;
                    font-stretch: normal;
                    font-weight: 700;
                    text-align: center;
                    float: right; }
                    @media screen and (max-width: 500px) {
                      #login #maincontent .right-sector .right_content .con #con-item-2 .form-content .user-operations .form-item:nth-child(2) button {
                        width: 100% !important; } }
                    @media (max-width: 700px) {
                      #login #maincontent .right-sector .right_content .con #con-item-2 .form-content .user-operations .form-item:nth-child(2) button {
                        width: 100px;
                        height: 35px; } }
              #login #maincontent .right-sector .right_content .con #con-item-2 .form-content .form-item:nth-child(odd) {
                margin: 0; }
        #login #maincontent .right-sector .right_content footer a.foot-text {
          text-decoration: none;
          color: #96abc0;
          font-family: 'Fira Sans', sans-serif;
          font-size: 13.0px;
          font-style: normal;
          font-stretch: normal;
          font-weight: 400;
          text-align: left;
          margin-left: 60px;
          line-height: 60px; }
          @media (max-width: 700px) {
            #login #maincontent .right-sector .right_content footer a.foot-text {
              margin-left: 30px; } }
          @media (max-width: 400px) {
            #login #maincontent .right-sector .right_content footer a.foot-text {
              margin-left: 20px; } }

/*# sourceMappingURL=login.css.map */
